.element{
    width: 50%;
    align-content: center;
    text-align: center;
    margin: 1%;
    padding: 1%;

}
.bt{
    background: green;
    color: white;
    border: 0;
    margin-left: 5%;
    width: 15%;
    height: 20pt;
}
.btr{
    background: orangered;
    color: white;
    border: 0;
    width: 15%;
    height: 20pt;
    margin-left: 5%;
}