body{
    margin:0;
    padding: 0;
    background: #ececec;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
.logo{
    flex-grow: 1;
    padding-top: 8px;

}
.logo img{
    width: 35px;
}
.t{
    color:white;
}